<!DOCTYPE html>
<html lang="en">

    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Botstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

     <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="{{url_for('static', filename='myjs.js')}}"></script>

  <!-- Style CSS -->
  <style>
    .carousel-item {
    height : 500px;
}

  </style>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{('about')}}">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{('Destinasi')}}">Destinasi</a>
      </li>
    </div>
<!-- Style -->

<head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow-sm">
        <div class="container">
          <a class="navbar-brand" href="#">TRAVELIN Ciamis</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link" href="{{('about')}}">About Me</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{('Destinasi')}}">Destinasi</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{('reservasi')}}">Reservasi</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{('register')}}">register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{('login')}}">login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{('contact us')}}">Contact us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Daftar tabel Detail Pemesanan  dan chek tarif Travel Ciamis </h5>
          <table>
            <tr>
              <th>Asal</th>
              <th>Tujuan</th>
              <th>Harga</th>
              <th>Tarif</p>
            </tr>
            <tr>
              <td>Ciamis</td>
              <td>Bandung</td>
              <td>350.00</td>
              <td> 1 Orang </td>
            </tr>
            <tr>
              <td>Ciamis</td>
              <td>Bali</td>
              <td>850.00</td>
              <td>1 orang </td>
            </tr>
            <tr>
              <td>Ciamis</td>
              <td>Jakarta</td>
              <td>950.00</td>
              <td> 1 orang </td>
            </tr>
          </table>
        </div>
    </div>
</div>
          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                 <p>Call Center Contact Us Konsumen </p>
                  <table>
                    <tr>
                      <th>Nama</th>
                      <th>No whatspp </th>
    
                    </tr>
                    <tr>
                      <td>Nikson Sihombing</td>
                      <td>082297791315</td>
                    
                    </tr>
                    <tr>
                      <td>Melafebri</td>
                      <td>081532021267</td>
                      
                    </tr>
                  </table>
        
          
          
        </div>
      </div>
    </div>
</body>
</html>